.wrapper {
  display: flex;
  justify-items: center;
  align-items: center;

  .form {
    background: #f7f7f7;
    width: 600px;
    border-radius: 30px;

    .contentWrapper {
      .userInteraction {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pillsWithInput {
          display: flex;
          align-items: center;
          padding: 5px;
          margin-top: 8px;
          flex-wrap: wrap;

          .countryName {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .inputWrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          .input {
            width: 150px;
            border: none;
            background: #f7f7f7;
            font-size: 16px;

            &.noPills {
              margin-left: 20px;
            }

            &:focus {
              outline: none;
            }
          }
        }

        .dropdownArrow {
          width: 100px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;

          :hover {
            cursor: pointer;
          }

          .arrowIndicator {
            font-size: 12px;
          }
        }

        .pill {
          border-radius: 5px;
          width: 80px;
          padding: 3px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          margin: 5px;
          color: var(--color-secondary);

          &.activation {
            background: var(--pill-activation-bg);
          }

          &.restricted {
            background: var(--pill-restricted-bg);
          }

          .removePill {
            margin-left: 10px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .submitButton {
      display: none;
    }

    .dropdown {
      padding: 10px;

      .switchWrapper {
        height: 50px;
        width: 100%;
        display: flex;
      }

      .textWrapper {
        display: flex;
        align-items: center;
        margin: 15px 0;
        h3 {
          margin: 0;
        }

        button {
          background: none;
          border: none;
          margin-left: 10px;
          &:hover {
            cursor: pointer;
          }
        }
        .deselectAll {
          color: var(--pill-restricted-bg);
        }
        .selectAll {
          color: var(--pill-activation-bg);
        }
      }

      .continents {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #fff;
        border-radius: 30px;
        .continent {
          .continentTabs {
            .continentTab {
              border: none;
              background-color: inherit;

              padding: 10px 20px;

              &.active {
                background: var(--pill-activation-bg);
                color: #fff;

                border-radius: 30px;
              }

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
