.toggleSwitch {
  position: relative;
  width: 4rem;

  .switch {
    position: absolute;
    width: 3rem;
    height: 1.5rem;
    display: flex;
    background-color: #808080;
    border-radius: 2rem;

    &.on {
      background-color: var(--pill-activation-bg);
    }

    & > input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      z-index: 1;
      width: 100%;
      height: 100%;

      &:disabled {
        cursor: not-allowed;
      }
    }

    &.disabled {
      filter: grayscale(0.6);
    }

    & > span {
      position: absolute;
      width: 100%;
      height: 100%;

      &::after {
        content: "";
        transition: 0.2s linear;
        position: absolute;
        background-color: #eee;
        border-radius: 2rem;
        left: 0.15rem;
        top: 0.15rem;
        width: 1.2rem;
        height: 1.2rem;
      }

      &.on::after {
        left: 1.5rem;
      }
    }
  }
}
