body {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg: #1d3557;
  --pill-activation-bg: lightgreen;
  --pill-restricted-bg: darkred;
  --pill-remove: #a8dadc;
  --color-secondary: #f1faee;
  --color-tertiary: #e63946;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--main-bg);
}
